POSTGRES_DB=pet_shop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_JDBC_URL=jdbc:postgresql://postgres:5432/pet_shop

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_JDBC_URL=jdbc:clickhouse://clickhouse:8123/analytics
CLICKHOUSE_SKIP_USER_SETUP=1
CLICKHOUSE_ALWAYS_RUN_INITDB_SCRIPTS=1

SPARK_MASTER_URL=local[*]
SPARK_TIMEZONE=UTC
SPARK_LOG_LEVEL=WARN
JDBC_WRITE_PARTITIONS=1
